<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{parts/common :: header}"></head>
<body>
	<th:block th:replace="~{parts/common :: navbar}"></th:block>

	<!-- 操作に応じたメッセージを表示:start -->
	<div th:if="${statusMessage}" class="alert alert-success mt-4"
		th:text="${statusMessage}"></div>
	<!-- 操作に応じたメッセージを表示:end -->

	<div class="row mt-5">
		<div class="col-12">
			<div id="table-view" class="toggle-display col-12 mt-3">
				<table class="table table-bordered table-hover text-center">
					<th:block th:each="review : ${reviewList}">
						<tr>
							<th class="col-4">書影</th>
							<th class="col-3">タイトル</th>
							<th class="col-3">投稿者</th>
							<th class="col-2">操作</th>
						</tr>
						<tr>
							<th:block class="hidden"></th:block>
							<td rowspan="3"><img
								th:src="@{https://iss.ndl.go.jp/thumbnail/{area}(area=${review.img})}" /></td>
							<td th:text="${review.title}"></td>
							<td th:text="${review.name}"></td>
							<td rowspan="3"><a
								th:href="@{/admin/fix/{id}(id=${review.reviewId})}" class="btn">修正</a>
								<a data-bs-toggle="modal" data-bs-target="#deleteModal"
								data-role="deleteReview" th:data-name="|${review.name}さんの${review.title}|"
								th:href="@{/admin/delete/{id}(id=${review.reviewId})}">削除</a></td>
						</tr>
						<tr>
							<td colspan="2">レビュー</td>
						</tr>
						<tr>
							<td th:text="${review.review}" colspan="2"></td>
						</tr>
					</th:block>
				</table>
			</div>
		</div>
	</div>

	<!-- 2ページ以上の場合のページネーション -->
	<div th:if="${totalPage >= 2}" class="container">
		<ul class="pagination">

			<!-- 前のページへ -->
			<th:block th:switch="${page}">
				<li th:case="1" class="page-item disabled"><a class="page-link"
					href="">&laquo;</a></li>
				<li th:case="*" class="page-item"><a class="page-link"
					th:href="@{/review(page=${page - 1})}">&laquo;</a></li>
			</th:block>

			<!-- ページ番号 -->
			<th:block th:each="index : ${#numbers.sequence(1, totalPage)}">
				<th:block th:switch="${index}">
					<li th:case="${page}" class="page-item active"><a
						class="page-link" href="" th:text="${index}"></a></li>
					<li th:case="*" class="page-item"><a class="page-link"
						th:href="@{/review(page=${index})}" th:text="${index}"></a></li>
				</th:block>
			</th:block>

			<!-- 次のページへ -->
			<th:block th:switch="${page}">
				<li th:case="${totalPage}" class="page-item disabled"><a
					class="page-link" href="">&raquo;</a></li>
				<li th:case="*" class="page-item"><a class="page-link"
					th:href="@{/review(page=${page + 1})}">&raquo;</a></li>
			</th:block>

		</ul>
	</div>
	<!-- 削除モーダル -->
	<div class="modal fade" id="deleteModal" tabindex="-1"
		aria-labelledby="deleteModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="deleteModalLabel">レビューの削除</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					「<span id="modal-date"></span>」のレビューを削除しますか？
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-bs-dismiss="modal">キャンセル</button>
					<a class="btn btn-danger" id="delete-link" href="">削除する</a>
				</div>
			</div>
		</div>
	</div>
	<th:block th:replace="~{parts/common :: script}"></th:block>
	<!-- 削除ボタン -->
	<script>
		$(document).ready(function() {
			$('[data-role="deleteReview"]').click(function() {
				$('#modal-date').text($(this).attr('data-name'));
				$('#delete-link').attr('href', $(this).attr('href'));
			});
		});
	</script>
</body>
</html>