<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>書籍レビュー</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
	<div class="container mt-5">
		<div class="row">
			<div class="col-lg-4 offset-lg-4">
				<form action="" method="post" th:object="${user}">
					<h1 class="text-center mb-3">管理者ログイン</h1>
					
					<!-- エラーにメッセージを表示:start -->
					<p class="error" th:errors="*{loginId}"></p>
					<p class="error" th:errors="*{loginPass}"></p>
					<p class="error" th:errors="*{login}"></p>
					<p class="error" th:errors="*{admin}"></p>
					<!-- エラーに応じたメッセージを表示:end -->

					<!-- 操作に応じたメッセージを表示:start -->
					<div th:if="${statusMessage}" class="alert alert-success mt-4"
						th:text="${statusMessage}"></div>
					<!-- 操作に応じたメッセージを表示:end -->

					<div class="form-floating">
						<input type="text" th:field="*{loginId}" class="form-control"
							id="floatingInput" placeholder="ログインID"> <label
							for="floatingInput">ログインID</label>
					</div>
					<div class="form-floating mb-3">
						<input type="password" th:field="*{loginPass}"
							class="form-control" id="floatingPassword" placeholder="パスワード">
						<label for="floatingPassword">パスワード</label>
					</div>
					<input type="submit" class="btn btn-lg btn-primary w-100 mb-3"
						value="ログイン"> 
						 <a th:href="@{/home}"
						class="btn btn-lg btn-secondary w-100">利用者画面に戻る</a>
				</form>
			</div>
		</div>
	</div>
</body>
</html>