<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{parts/common :: header}"></head>
<body>
	<th:block th:replace="~{parts/common :: navbar}"></th:block>

	<div class="container">
		<h1 class="my-4" th:text="${title}"></h1>
		<form action="" method="post" th:object="${review}">
			<span th:errors="*{name}" class="error"></span>
			<p class="mt-2">
				タイトル：<input type="text" th:field="*{title}">
			</p>
			<p class="mt-2">
				書籍のISBN：<input type="text" th:field="*{img}">
			</p>
			<span th:errors="*{review}" class="error"></span>
			<p class="mt-2">
				感想・レビュー：<br>
				<textarea th:field="*{review}" cols="40" rows="5"></textarea>
			</p>
			
			<input class="btn btn-primary" type="submit">
		</form>
		<p class="mt-4">
			<a th:href="@{/review}">一覧に戻る</a>
		</p>
	</div>


	<th:block th:replace="~{parts/common :: script}"></th:block>
</body>
</html>